<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Flask for Deep ConvNet</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
	 $(function(){
		$(window).scroll(function(){
		var navbar = $(this).scrollTop();
		console.log(navbar);
		// var $header = $('header');
		var $navbar_tag = $('.navbar')
		if(navbar > 10){
			$navbar_tag.addClass('activated');
		}else{
			$navbar_tag.removeClass('activated');
		}
	})
	})
</script>
<style type="text/css">
	body{
		font-family: Objective,sans-serif;
	}
	/*Logo*/
	#h_img{width: 30px; height: 30px;}
	/*카테고리*/
	header{
		width:100%;
		position:fixed;
	}
	.navbar{
		opacity: 0.8;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}

	.side-page-main-div{
		padding-top: 100px;
	}

	.nst_img{
		width: 350px; 
		height: 250px;
	}
	.nst_result_img{
		width: 800px; 
		height: 500px;
	}
</style>
<body>
	<!-- 상단 카테고리 -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/"><h3 style="color: #8C1DF3">Flask for DeepConvNet</h3></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
		      <li class="nav-item"><a class="nav-link" href="/convnet_info">ConvNet?</a></li>
		      <li class="nav-item"><a class="nav-link" href="/object_detection_get">Object Detection</a></li>
		      <li class="nav-item"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	
	<!-- 선택한 Refer/Target 이미지 및 Transfer 이미지 -->
	<div class="side-page-main-div">
		<table align="center">
			<tr>
				<td><h2 align="center">Reference Image</h2></td>
				<td><h2 align="center">Target Image</h2></td>
			</tr>
			<tr align="center">
				<td><img class='nst_img' src="{{url_for('static', filename=refer_img)}}"></td>
				<td><img class=nst_img src="{{url_for('static', filename=user_img)}}"></td>
			</tr>
			<tr>
				<td colspan="2"><h2 align="center" style="color: #8C1DF3">Transfer Image</h2></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><img class="nst_result_img" src="{{url_for('static', filename=transfer_img)}}"></td>
			</tr>
		</table>
	</div>
	<br>
</body>
</html>