<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Flask for Deep ConvNet</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
	 $(function(){
		$(window).scroll(function(){
		var navbar = $(this).scrollTop();
		console.log(navbar);
		// var $header = $('header');
		var $navbar_tag = $('.navbar')
		if(navbar > 10){
			$navbar_tag.addClass('activated');
		}else{
			$navbar_tag.removeClass('activated');
		}
	})
	})
</script>
<script type="text/javascript">
	function previewImage(targetObj, view_area) {
	var preview = document.getElementById(view_area); //div id
	var ua = window.navigator.userAgent;

	var files = targetObj.files;
	for ( var i = 0; i < files.length; i++) {
		var file = files[i];
		var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
		if (!file.type.match(imageType))
			continue;
		var prevImg = document.getElementById("prev_" + view_area); //이전에 미리보기가 있다면 삭제
		if (prevImg) {
			preview.removeChild(prevImg);
		}
		var img = document.createElement("img"); 
		img.id = "prev_" + view_area;
		img.classList.add("obj");
		img.file = file;
		img.style.width = '700px'; 
		img.style.height = '400px';
		preview.appendChild(img);
		if (window.FileReader) { // FireFox, Chrome, Opera 확인.
			var reader = new FileReader();
			reader.onloadend = (function(aImg) {
				return function(e) {
					aImg.src = e.target.result;
				};
			})(img);
			reader.readAsDataURL(file);
		} else { // safari is not supported FileReader
			//alert('not supported FileReader');
			if (!document.getElementById("sfr_preview_error_"
					+ view_area)) {
				var info = document.createElement("p");
				info.id = "sfr_preview_error_" + view_area;
				info.innerHTML = "not supported FileReader";
				preview.insertBefore(info, null);
			}
		}
	}
}
</script>
<style type="text/css">
	body{
		font-family: Objective,sans-serif;
	}
	/*Logo*/
	#h_img{width: 30px; height: 30px;}
	/*카테고리*/
	header{
		width:100%;
		position:fixed;
	}
	.navbar{
		opacity: 0.8;
	}
	.navbar.activated{
		opacity: 1;
	}
	.nav-link{
		font-weight: bold;
	}
	.side-page-main-div{
		padding-top: 100px;
	}

	/*Reference Images*/
	.refer_img{
		width: 100%; 
		height: auto;
	}
	.refer_img:hover{opacity: 0.5; cursor: pointer;}
	.refer_img:onclick{opacity: 0.5; cursor: pointer;}
	input[type="radio"]{
		width: 25px; 
		height: 25px;
	}
</style>
<body>
	<!-- 상단 카테고리 -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/"><h3 style="color: #8C1DF3">Flask for DeepConvNet</h3></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
		      <li class="nav-item"><a class="nav-link" href="/convnet_info">ConvNet?</a></li>
		      <li class="nav-item"><a class="nav-link" href="/object_detection_get">Object Detection</a></li>
		      <li class="nav-item active"><a class="nav-link" href="/nst_get">Neural Style Transfer</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	
	<div class="side-page-main-div"></div>
		<h1 align="center" style="color: #8C1DF3">Neural Sytle Transfer</h1>
		<br>
		<!-- Reference Image 라디오 버튼 선택 -->
		<form align="center" action="/nst_post" method="POST" enctype="multipart/form-data">
			<h2 align="center" style="color: #353535;">Reference Images</h2>
			<table align="center">
				<tr>
					<td><img class="refer_img" src="./static/images/nst_get/nst_reference1.jpg"></td>
					<td><img class="refer_img" src="./static/images/nst_get/nst_reference2.jpg"></td>
					<td><img class="refer_img" src="./static/images/nst_get/nst_reference3.jpg"></td>
					<td><img class="refer_img" src="./static/images/nst_get/nst_reference4.jpg"></td>
				</tr>
				<tr>
					<td><input type="radio" name="refer_img" value="nst_reference1.jpg"></td>
					<td><input type="radio" name="refer_img" value="nst_reference2.JPG"></td>
					<td><input type="radio" name="refer_img" value="nst_reference3.jpg"></td>
					<td><input type="radio" name="refer_img" value="nst_reference4.jpg"></td>
				</tr>
			</table>
			<br>
			<!-- Target Image 사용자 업로드 -->
			<h2 align="center" style="color: #353535;">Target Image</h2>
			<input type="file" name="user_img" id="user_img" value="userImage" onchange="previewImage(this,'view_area')"/>
			<input type="submit" value="확인"/>
			<br><br>
			<div align="center" id='view_area'></div>
		</form>
	</div>
	<br><br><br>
</body>
</html> 