<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Obejct Detection</title>
</head>
<body>
	<br>
	<h1 align="center">Obejct Detection with YOLO-V2</h1>
	<br>
	<form align="center" action="/post_object_detection" method="POST" enctype="multipart/form-data">
		<h2>Image</h2>
		<input type="file" name="object_img" value="object_img"/>
		<input type="submit" value="확인"/>

	</form>
</body>
</html>