<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Flask image post</title>
</head>
<script type="text/javascript">
	function onVideoFail(e) {
	console.log('webcam fail!', e);
  };

	function hasGetUserMedia() {
	  // Note: Opera is unprefixed.
	  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
				navigator.mozGetUserMedia || navigator.msGetUserMedia);
	}

	if (hasGetUserMedia()) {
	  // Good to go!
	} else {
	  alert('getUserMedia() is not supported in your browser');
	}

	window.URL = window.URL || window.webkitURL;
	navigator.getUserMedia  = navigator.getUserMedia || 
							 navigator.webkitGetUserMedia ||
							  navigator.mozGetUserMedia || 
							   navigator.msGetUserMedia;

	var video = document.querySelector('video');
	var streamRecorder;
	var webcamstream;

	if (navigator.getUserMedia) {
	  navigator.getUserMedia({audio: true, video: true}, function(stream) {
		video.src = window.URL.createObjectURL(stream);
		webcamstream = stream;
	//  streamrecorder = webcamstream.record();
	  }, onVideoFail);
	} else {
		alert ('failed');
	}

	function startRecording() {
		streamRecorder = webcamstream.record();
		setTimeout(stopRecording, 10000);
	}
	function stopRecording() {
		streamRecorder.getRecordedData(postVideoToServer);
	}
	function postVideoToServer(videoblob) {

		var data = {};
		data.video = videoblob;
		data.metadata = 'test metadata';
		data.action = "upload_video";
		jQuery.post("http://www.foundthru.co.uk/uploadvideo.php", data, onUploadSuccess);
	}
	function onUploadSuccess() {
		alert ('video uploaded');
	}	
</script>
<body>
	<div id="webcamcontrols">
		<button class="recordbutton" onclick="startRecording();">RECORD</button>
	</div>
</body>
</html>